/* MODAL HEADER */
.header-menu li a, .footer-menu li a, #open-modal-button-header, .close {
    text-decoration: none;
    color: #000;
    font: 500 16px/1.5 "Space Mono", monospace;
    text-transform: uppercase;
    margin-right: 40px;
}

.header-menu ul, .footer-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
 
.header-menu li, .footer-menu li { margin-right: -5px; }
.header-menu li a:hover { font-weight: 700; }

.modal, .modal-photo {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: auto;
}

.modal-content {
    background: #fff;
    border: 5px solid black;
    width: 80%;
    max-width: 500px;
    height: 769px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content img { display: block; width: 100%; height: auto; margin: auto; }

.modal.show, .modal-photo.show {
    display: block;
}

.modal.show::before, .modal-photo.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

/* CONTACT FORM */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 263px;
    margin: 40px auto 0;
    
}

input, select, textarea {
    border: 1px solid black;
    border-radius: 8px;
    width: 263px;
    min-height: 30px;
}

input[type=submit] {
    height: 50px;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font: 400 14px "Space Mono";
    background: #D8D8D8;
    color: #000;
    border: 1px solid black;
}

input[type=submit]:hover { background: black; color: #fff; }

/* BODY */
body { background: #FFF; margin: 0; font: 400 16px "Space Mono", sans-serif; color: #000; }

/* RESPONSIVE */
@media (max-width: 768px) {
    .thumbnail-container-accueil {
        flex-direction: column;
        gap: 35px;
        margin: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .thumbnail-container-accueil {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        margin: 50px;
    }
}


/* ✅ TABLET RESPONSIVENESS (Keep Layout as Before) */
@media (min-width: 769px) and (max-width: 1024px) {
    .thumbnail-container-accueil {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 20px !important; /* Keep spacing balanced */
        margin-left: 40px;
        margin-right: 40px;
    }


}


main {
    padding: 20px;
    font-family: 'Space Mono';
    margin-top: 20px;
}

.main-content-post {
    margin: 0 auto;
    max-width: 800px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #fff;
    margin-left: 75px;
    margin-right: 75px;

}

.header-logo img {
    max-width: 300px;
    width: 216px;
    height: 14px;
}

.logo-container img {
    padding-left: 24px;
    padding-top: 35px;
    width: 212px;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 20px; /* Better spacing between items */
    padding: 0px;
    justify-content: space-between; /* Ensures proper alignment */
    flex-wrap: nowrap;
}

/* BURGER MENU */

.mobile-menu-button {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.bar {
    display: block;
    width: 27.42px;
    height: 2px;
    margin: 5px auto;
    background-color: #000;
    transition: 0.4s;
}

/* MEDIA */

@media (max-width: 768px) {

    header {
        height: 72px;
        margin-left: 40px;
        margin-right: 40px;    
    }

    .header-logo,
    .header-logo img {
        margin-bottom: 6px;

    }

    .mobile-menu-button {
        display: block;
        margin-bottom: 15px;
    }

    .header-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        width: 75%; 
        max-height: 100vh;
        background-color: #fff;
        transform: translateX(100%);
        transition: transform 0.5s ease;
        z-index: 1000;
        overflow-y: auto;
        width: 375px !important;
    }

    .mobile-menu-opened .header-menu {
        transform: translateX(0%);
    }

    .close-button {
        position: absolute;
        font-family: "Space Mono", monospace;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #000;
        margin-right: 20px;
        margin-top: 5px;
    }

    .close-button-container {
        width: 100%;
        height: 86px;
        background: white;
        position: absolute;
        top: 35px;
    }
    
    .header-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        flex-wrap: nowrap !important;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .footer-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        flex-flow: column;
    }
     
    .mobile-menu-opened .header-menu {
        background: #E00000;
        height: 110vh;
        left: 0;
        top: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        overflow-y: auto;
    }
    .header-menu li a,
    #open-modal-button-header {
        font-family: 'Space Mono' !important;
        font-weight: 400!important;
        font-size: 44px!important;
        line-height: 65px!important;
        text-align: center!important;
        text-transform: uppercase!important;
        color: #FFFFFF!important;
        transition: font-weight 0.3s ease!important;
    }

    #open-modal-button-header {
        margin-left: 30px;
    }

    .header-menu li {
        width: auto; 
        text-align: center; 
        margin-bottom: 20px;
    }

    .header-menu li a {
        color: #FFFFFF; 
        font-size: 44px; 
        font-weight: 400;
        transition: font-weight 0.3s ease;
    }

    .header-menu li a:hover,
    #open-modal-button-header:hover{
        font-family: 'Space Mono';
        font-weight: 400;
        font-size: 44px;
        line-height: 65px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: font-weight 0.3s ease;
    }

    .close-button {
        color: #000000;
        font-size: 23px;
        position: absolute;
        top: 22px;
        right: 30px;
    }

    body.mobile-menu-opened {
        background: rgba(0, 0, 0, 0.5);
    }
    
    .header-menu li {
        margin-bottom: 20px;
    }

    .logo-container {
        display: block;
    }

    .close-button {
        display: block;
    }

    .hero {
        height: 250px !important;
    }

    .hero-image img {
        width: 288px;
        height: 41px;
    }

    #menu-header li {
        margin-top: auto;
        margin-left: auto;
    }
}

@media (min-width: 768px) {
    .logo-container {
        display: none;
    }

    .close-button {
        display: none;
    }
}


#myLightbox {
    display: none;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10;
}

.lightbox__container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.lightbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px 100px;
    min-height: 100vh;
}

.lightbox__close {
    width: 22px;
    height: 22px;
    border: none;
    background: none;
    position: fixed;
    top: 5%;
    right: 10%;
    z-index: 12;
}

.lightbox__next,
.lightbox__prev {
    display: flex;
    align-items: center;
    width: 107px;
    height: 18px;
    border: none;
    background: none;
    position: fixed;
    top: 50%;
    z-index: 11;
    gap: 15px; 
}
    
.lightbox__prev img {
    margin-right: 10px;
}

.lightbox__next img {
    margin-left: 20px;
}

.lightbox__next p,
.lightbox__prev p {
    margin: 0px;
    color: white;
    font-family: "Space Mono";
    font-size: 12px;
    font-weight: 400;
}

.lightbox__next p:hover,
.lightbox__prev p:hover {
    font-weight: 700;
}

.lightbox__prev {
    background-image: url('../img_logo/fleche-lightbox-gauche.png');
    background-repeat: no-repeat;
    left: 5%;    
}

.lightbox__prev p{
    margin-left: 40px;    
}

.lightbox__next {
    right: 5%;
    background-image: url('../img_logo/fleche-lightbox-droite.png');
    background-repeat: no-repeat;
    background-position: 70px;
}

.lightbox__next:hover {
    background-image: url('../img_logo/fleche-lightbox-droite-hover.png');
}

.lightbox__prev:hover {    
    background-image: url('../img_logo/fleche-lightbox-gauche-hover.png');
}

.photo-info-lightbox {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 71%;
    padding: 10px;
    color: white;
    font-family: 'Space Mono';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

/* MEDIA */

@media (max-width: 768px) {

    .lightbox__container {
        margin: auto;
    }

    .lightbox__close {
        top: 2%;
    }

    .lightbox__prev p,
    .lightbox__next p {
        display: none;
    }
}

.zone-contenu,
.zone-contact {
    display: flex;
    justify-content: space-between;
    max-width: 1126px;
    margin: 0 auto;
}

#myBtn-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 272px;
    height: 50px;
    border-radius: 2px;
    transition: .3s ease-in-out;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.77px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    background-color: #D8D8D8;
    color: #000000;
    text-decoration: none;
}

#myBtn-photo:hover {
    background-color: black;
    color: #fff;
}

.texte-contact p {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.73px;
}

.left-container,
.left-contact {
    align-content: center;
    flex: 1;
    position: relative;
    max-width: 49%;
    height: auto;
}

.left-container,
.zone-contact {
    border-bottom: 2px solid #000;
}

.left-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 20px;
}

.left-contenu h2 {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: italic;
    font-size: 66px;
    line-height: 58px;
    text-transform: uppercase;
}

.left-container p {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.73px;
    letter-spacing: 10%;
    text-transform: uppercase;
}

.right-container,
.photo {
    flex: 1;
    position: relative;
    max-width: 50%;
    height: auto;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-contact > div {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0 30px 10px;
}

.arrow-img {
    width: 33px;
    height: 10px;
    margin: 0 5px; 
    vertical-align: middle;
}

.arrow-img-gauche,
.arrow-img-droite {
    transition: transform 0.2s ease;
}

.arrow-img-gauche:hover,
.arrow-img-droite:hover {
    transform: scale(1.2);
}

.thumbnail-container {
    text-align: center; 
    width: 80px;
    height: 80px; 
}

.thumbnail-container img {
    max-width: 100%; 
    max-height: 100%;
}

.thumbnail-container img.arrow-img-gauche {
    display: block;
    margin-right: 7px;
    margin-top: 89px;
    margin-bottom: -86px;
    margin-left: 0px;
}

.thumbnail-container img.arrow-img-droite {
    display: block;
    margin-top: 4px;
    margin-left: 48px;
}

.thumbnail-overlay-single {
    position: absolute;
    top: 0;
    left: 0;
    width: 564px;
    height: 495px;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    text-align: center;
}
.photo-info {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

.photo-info-left,
.photo-info-right {
    width: 20%;
}

.thumbnail-overlay-single:hover {
    opacity: 1;
}

.thumbnail-overlay-single img {
    width: 46px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.fullscreen-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}

.btn-close {
    position: fixed;
    top: 20px;
    right: 320px;
    color: #fff;
    font-family: 'Montserrat', monospace;
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    max-width: 40px;
    max-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10001;
}

.btn-close:hover {
    font-weight: 600;
}
  
.right-container img {
    cursor: pointer;
}

.left-arrow,
.right-arrow {
  width: auto;
  display: flex; 
  align-items: center;
}

.left-arrow .arrow-link,
.right-arrow .arrow-link {
  display: flex; 
  align-items: center; 
  text-decoration: none;
  color: white;
  outline: none;
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  font-weight: 400;
  margin: 20px;
}

.left-arrow > a > span:hover,
.right-arrow > a > span:hover {
  font-weight: 700;
}

.left-arrow .arrow-img-gauche {
  filter: invert(100%); 
  margin-right: 10px;
}

.left-arrow .text {
  order: 1; 
}

.right-arrow .arrow-img-droite {
  filter: invert(100%); 
  margin-left: 10px;
  order: 2; 
}

.info-photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.info-photo > span {
  padding: 20px;
  color: white;
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase !important;
}

.related-images {
    max-width: 1126px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.related-images h3 {
    font-family: 'Space Mono', sans-serif;
    font-size: 18px; 
    font-weight: 400;
    line-height: 26.66px;
    letter-spacing: 0.1em;
    text-align: left;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px; 
}

.related-image {
    flex: 1;
    margin-right: 10px;
    text-align: center;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
    width: 564px;
    height: 495px;
}

.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 564px;
    height: 495px;
}

.right-container.mobile-first {
    order: -1;
}

/* MEDIA */

@media (max-width: 768px) {

    .wpcf7 input[type="text"],
    .wpcf7 input[type="email"],
    .wpcf7 textarea,
    .wpcf7 label {
        width: 190px;
        height: 40px;
    }

    .wpcf7 textarea[name="your-message"] {
        width: 190px;
        height: 149px;
    }
    input[type=submit] {
        width: 190px;
    }
    form {
        margin: 0;
        }
    .modal-content-photo,
    .modal-content {
        width: 286px;
        height: 583px;

    }

    .modal-content {
        margin-left: -20px;    
    }
        
    form p {
        margin: 6px;
    }

    .wpcf7-form-control-wrap input,
    .wpcf7-form-control-wrap textarea {
        width: 100%; 
        box-sizing: border-box; 
        
    }

    .modal-content-photo img
     {
        width: 300px;
        height: 55px;

    }

    .modal-content img
     {
        width: 290px;
        height: 55px;

    }

    .btn-close {
      font-size: 18px;
      padding: 20px;
      right: 20px;
      top: 10px;
    }
  
    .modal-container {
      padding: 1px;
      z-index: 1000; 
      background: rgba(0, 0, 0, 0.8); 
    }
  
    .modal-container img {
      max-height: 60vh; 
      width: auto; 
    }  

    .left-arrow > a > span,
    .right-arrow > a > span {
        display: none;
    }

    .left-arrow {
      width: 40px;
      height: 40px;
      padding: 10px;
      position: absolute;
      top: 44%;
      left: -12px; 
      transform: translateY(-50%); 
    }
  
    .right-arrow {
      width: 40px;
      height: 40px;
      padding: 10px;
      position: absolute;
      top: 44%;
      right: 28px; 
      transform: translateY(-50%); 
    }
  
    .info-photo {
      display: flex;
      flex-direction: column; 
      align-items: center; 
    }
  
    .info-photo > span {
      padding: 10px;
      font-size: 14px;
    }



    .left-container h1 {
        font-size: 44px;
    }

    .zone-contenu.mobile-first {
        flex-direction: column-reverse;
    }

    .right-container .photo img {
        max-width: 100%;
        height: auto;
        width: auto;
        object-fit: contain;
    }

    .left-contact {
        flex-direction: column;
        align-items: center;
        max-width: 65%;
    }

    .left-contact .texte-contact,
    .left-contact div {
        width: 100%;
    }

    .bouton-contact {
        margin-left: 30%;
    }

    .texte-contact {
        width: 300px !important;
        margin-left: 90px;
        margin-top: -25px;
        display: flex;
        justify-content: center;
    }

    .left-contenu {
        margin-bottom: 50px;
        margin-left: 30px;
    }

    .related-images {
        margin-top: auto; 
    }

    .related-images h3 {
        text-align:center;
        margin-bottom: auto;  
    }

    .image-container {
        margin-top: 40px;
    }

    .image-wrapper {
        width: 317px;
        height: 278px;
        padding-bottom: 40px;
        margin-left: -10px;
    }
    .mentions-rgpd {
        margin-left: 46px !important;
        margin-right: 46px !important;
    }

    .right-contact,
    .prev-photo,
    .next-photo {
      display: none;
    }

    .image-container {
        display: block;
    }

    .related-image {
        flex: 1; 
        margin-right: 0; 
    }

    .image-wrapper img {
        width: 317PX;
        height: 278PX;    
    }

    .photo-info {
        justify-content: space-around;
    }

    .thumbnail-overlay-single {
        width: 317px;
        height: 278px;
    }
    
    .left-contact {
        display: flex;
        align-items: center;
    }
    .left-contact .texte-contact,
    .left-contact div {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .left-container {
        padding-top: 52vh;
    }
a
    .right-container {
        margin-left: 20px;
    }
}


body {
    font-family: 'Space Mono', sans-serif;
    color: #000;
    background-color: #FFFFFF;
}
